<div class="height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
  <div class="d-flex flex-justify-between flex-items-start mb-1">
    <h1 class="f4 lh-condensed mb-1">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
  </div>
  <a href="{{ post.url }}" ><img width="100%" src="{{ post.thumbnail }}"> </a>
  <div>
    {% for tag in post.tags %}
      <div style="background-color: #ededed; float: left; border-radius: 5px; margin: 5px; padding: 5px;">
        <span>#{{ tag }}</span>
      </div>
    {% endfor %}
  </div>
  <br/>
  <div class="text-gray mb-2 ws-normal">
    <span style="float: right; margin-top: 10px; margin-bottom: 10px;">
      {{ post.date | date: "%b %d, %Y"}}
    </span>
  </div>
</div>
